* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 100px;
}

/* Títulos y encabezados principales */

.titulo{
    font-family: "LT Museum", sans-serif;
    font-size: 0.8rem;
    color: #004740;
    text-align: left;
}

.display-5{
    font-family: "LT Museum", sans-serif;
    color: #004740;
    text-align: left;
}

p{
    text-align: left;
}

/* End Títulos y encabezado principal */

/* ----------- */

