/* Hero main */
.hero{
    background-image: url(../../img/hero/hero5.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.hero h3{
    font-family: "LT Museum", sans-serif;
    font-size: 2rem;
    /* color: #004740;  */
    color: #ffffff;
    padding-top: 8%;
    /* text-shadow: 1px 1px #7b7b7b; */
}

.hero h1{
    font-family: "LT Museum", sans-serif;
    font-size: 4rem;
    /* color: #004740; */
    color: #ffffff;
    /* text-shadow: 1px 1px #7b7b7b; */

}

.hero p{
    color: #e4e5e4;
    text-align: center;
    
}
/* End Hero Main */

/* ---------- */

/* Heros secundarios */

.hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/hero/hero3.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    }

.hero2{
    font-family: "LT Museum", sans-serif;
    color: #ffffff;
    padding-top: 8%;
}

/* End Hero secundarios */