/* Hero main */
.hero{
    background-image: url(../../img/hero/hero-principal.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.hero h3{
    font-family: "LT Museum", sans-serif;

    /* color: #004740;  */
    color: #ffffff;
    padding-top: 8%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.hero h1{
    font-family: "LT Museum", sans-serif;

    /* color: #004740; */
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.hero p{
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


/* End Hero Main */

/* ---------- */

/* Heros secundarios */

.hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../../img/hero/hero2/hero-secundario-A.webp);
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    }

.hero2 , .hero3{
    font-family: "LT Museum", sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding-top: 8%;
}

/* End Hero secundarios */

/* VIDEO HERO */
.video-hero {
    position: relative;
    height: 65vh; /* Ajusta la altura como necesites */
    overflow: hidden;
}

.video-hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegúrate que el video esté detrás de otros contenidos */
}

.video-hero .content {
    position: relative;
    z-index: 1;
    color: #fff; /* Color del texto que irá encima del video */
    text-align: center;
    padding: 50px;
}

.video-hero h3{
    font-family: "LT Museum", sans-serif;
    font-size: 2rem;
    /* color: #004740;  */
    color: #ffffff;
    padding-top: 8%;
    /* text-shadow: 1px 1px #7b7b7b; */
}

.video-hero h1{
    font-family: "LT Museum", sans-serif;
    font-size: 4rem;
    /* color: #004740; */
    color: #ffffff;
    /* text-shadow: 1px 1px #7b7b7b; */

}

.video-hero p{
    color: #ffffff;
    text-align: center;
    text-shadow: #000000;
    
}


/* END VIDEO HERO */