.notas{
    margin: 20px 30px;
    min-height: 400px;
    min-width: 286px;

    

}
.notas img{ 
    
    height: 215px;
}

.notas a{
    text-decoration: none !important;
    color:black;

}

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .notas{
            display: flex;
            flex-direction: row; 
            justify-content: center;
            align-items: center;
        }

    }