.notas {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: auto !important;
    width: 100% !important;
    max-width: 288px;
    margin: 0 10px 20px 10px;
}

.notas img {
    width: 100%;
    height: auto;
}

.notas a{
    text-decoration: none !important;
    color:black;
}

.badge{
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .notas {
        margin: 20px auto;
    }

    .card {
        margin: 0 15px 20px 15px;
    }
}
