/* Publicaciones Main */
#section-publicaciones .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.card{
    margin: 10px;
    width: auto;
    min-height: 400px;
}

#section-publicaciones{
    background-color: #F5F8F4;
    height: auto;
    padding: 30px 30px;
}

#section-publicaciones p{
    text-align: center;
    }

#publicaciones{
    margin: 30px 0px 30px 0px;
    text-align: left;
}

#publicaciones img{
    margin: 30px 0px 30px 0px;
}

#section-publicaciones .card{
    max-width: 400px;
    min-width: 280px;
    height: auto;
    
}

/* Sub Pages */

.publicaciones-sub-pages p{
    text-align: left;
}

.publicaciones-sub-pages, .img-fluid{
    margin: 10px 0px 30px 0px;
    text-align: left;
}

#publicaciones-sub-pages_fechasYhora{
    font-size: 15px;
    margin: 0;
    padding: 0;
}



    /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #section-publicaciones .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center ;
    }

    #section-publicaciones .card{
        max-width: 400px;
        min-width: 230px;
        height: 450px;
    }

    .publicaciones-sub-pages .titulo{
        font-size: 15px;
    }

    .publicaciones-sub-pages p{
        font-size: 20px;

    }

    .publicaciones-sub-pages .display-5{
        font-size: 50px;

    }

    #publicaciones-sub-pages_fechasYhora{
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .publicaciones-sub-pages, .img-fluid{
        margin: 10px 0px 30px 0px;
        text-align: left;
    }

}

@media only screen and (min-width: 768px) {
    #section-publicaciones .card{
        width: 400px;
        height: 450px;
    }

}

