/* Quienes somos main page */
#quienes-somos{
 padding: 30px 30px;
 text-align: center;
}



/* End Quienes somos main page */

/* ---------- */

/* Imagenes de miembros + info */

.portraits img{
    width: 280px;
    padding: 20px 0px 20px 0px;


}

.portraits p{
    text-align: center;
}


/* End Imagenes de miembros + info */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .portraits img{

    }

}

