#sostenibilidad{
    padding: 30px 15px;
} 

.sostenibilidad-texto-intro{
    margin-bottom: 100px;
} 

.sostenibilidad-contenedor-imagen{
    margin: 30px 0px 20px 0px;
}

.sostenibilidad-container {
    border-bottom: 0.2px solid rgb(134, 134, 134);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.sostenibilidad-contenedor-texto h5{
    font-weight: 600;
    text-align: center;
}

.sostenibilidad-contenedor-texto p{
    text-align: center;
}

.sostenibilidad-contenedor-texto h5{
margin-top: 10px;
}

/* Notas */

.publicaciones-sub-pages iframe{
margin: 50px 0px ;
}

.button-download{
    margin: 50px 0px ;
    }


/* End Notas */


@media only screen and (min-width: 1200px) {
    .sostenibilidad-container {
        display: flex;
        align-items: center;
    }



    .sostenibilidad-contenedor-imagen{
        width: 30%;
        text-align: left;
    }

    .sostenibilidad-contenedor-texto {
        width: 70%;

    }


    .sostenibilidad-contenedor-texto {
        text-align: left;
    }

    .sostenibilidad-contenedor-texto h5{
        font-weight: 600;
        text-align: left;
    }

    .sostenibilidad-contenedor-texto p{
        text-align: left;
    }
}






























    /* .col-num-1{
    display: flex;
}

.investigation-container {
    border-bottom: 0.2px solid rgb(134, 134, 134);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.investigation-col-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.investigation-container img{
    border-radius: 5px;
}

.investigation-container p{
    padding-top: 8px;
}

.investigation-container span, i{
    font-size: 12px;
    margin-bottom: 15px;
    text-align: left;
}

.investigation-row{
    margin: 30px 0px;
}    

.investigation-row a{
    margin: 0px 0px;
}   




}
